table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#wrapper{
  width: 100%;
}

#pageTitle{
  text-align: center;
  margin-bottom: 2%;
}

#facetPanel{
  float: left;
  width: 35%;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

.ui.form{
  display: none;
}

#rightPanel{
  /*border: 1px solid black;*/
  float: right;
  width: 60%;
  margin-right: 15px;
}

#attributePanel{
  padding-top: 10px;
  border: 1px solid black;
  margin-bottom: 3%;
  padding-left: 15px;
  padding-bottom: 15px;
}

#resultPanel{
  padding-top: 10px;
  border: 1px solid black;
  padding-left: 10px;
}

#bigButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
